.magicSlide{width: 100%;height: 100%;position: absolute;top: 0px;left: 0;box-sizing: border-box;}
.magicSlide .toolbars{position:fixed;top:0px;background-color: #fff;padding: 5px;left: 0px;z-index: 999;}
.magicSlide .toolbars__top{padding: 5px;padding-bottom: 10px;}
.magicSlide .toolbars.--pos_top{top:0px;bottom: auto;}
.magicSlide .toolbars.--pos_left{left:0px;right:auto;}
.magicSlide .toolbars.--pos_right{right: 0px;left: auto;}
.magicSlide .toolbars.--pos_bottom{bottom: 0px;top:auto;}
.magicSlide .toolbars .toolset{margin: 10px 10px;display: none;}
.magicSlide .toolbars .toolset.--text{margin: 10px 10px;display: block;}
.magicSlide .toolbars button{}
.magicSlide .layers{position:absolute;width:150px;background-color:#999;height:100%;right:0px;top:0px;}
.magicSlide .layers .title{color:#fff;border-bottom:1px solid red;text-align:center;padding: 10px;}
.magicSlide .layers ul{list-style:none;padding: 0px;margin: 0px;overflow: scroll;height: calc(100% - 40px);}
.magicSlide .layers ul li{}
.magicSlide .layers ul li a{padding: 5px;display: block;cursor: pointer;}
.magicSlide .elements{position:absolute;top:0px;right:0px;left:0px;bottom:0px;background-color: #eee;overflow:hidden;}
.magicSlide .slide-element{position:absolute;left:0px;top:0px;font-family: Arial;}
.magicSlide .slide-element.--text{width:120px;height:50px;}
.magicSlide .slide-element.--active{background-color:#ddd;}
.magicSlide .slide-element.--active .move_bar{width:30px;height: 30px;background-color:#fff;opacity:0.5;cursor: move;position: absolute;display: none;line-height: 30px;text-align: center;z-index:9;}
.magicSlide .slide-element.--active .move_bar:before{content:"M";}
.magicSlide .slide-element.--active:hover .move_bar{display: block;}
.magicSlide .slide-element .text_bar{padding-left: 30px;height: 100%;cursor:text;font-family: Arial;}
.magicSlide .slide-element .text_bar textarea{width: 100%;background: none;height: 100%;resize: none;padding: 0px;margin: 0px;border: none;outline: none;font-size:16px;font-family: Arial;position: relative;z-index:2;overflow:hidden;word-break: break-all;}
.magicSlide .slide-element .text_bar .sizer{position: absolute;left: 0px;top: 0px;padding-left: 30px;box-sizing: border-box;z-index:1;opacity:0;}
.magicSlide .slide-element .image_bar{width:100%;height:100%;}
.magicSlide .slide-element .image_bar img{width:100%;height:100%;}
.magicSlide .slide-element.--resize{}
.magicSlide .slide-element.--resize .conner{position:absolute;width:10px;height: 10px;background-color:green;border-radius:50%;}
.magicSlide .slide-element.--resize .conner.lt{left: -5px;top: -5px;cursor: nw-resize;}
.magicSlide .slide-element.--resize .conner.rt{right: -5px;top: -5px;cursor: ne-resize;}
.magicSlide .slide-element.--resize .conner.lb{left: -5px;bottom: -5px;cursor: sw-resize;}
.magicSlide .slide-element.--resize .conner.rb{right: -5px;bottom: -5px;cursor: se-resize;}
.--w50{width:50px;}
.--bold{font-weight: bold;}
.--bold textarea{font-weight: bold;}
.--italic{font-style: italic;}
.--italic textarea{font-style: italic;}
.--center{text-align: center;}
.--center textarea{text-align: center;}
.--left{text-align: left;}
.--left textarea{text-align: left;}
.--right{text-align: right;}
.--right textarea{text-align: right;}
.--red{color:#f00;}
.--red textarea{color:#f00;}
.--green{color:#0f0;}
.--green textarea{color:#0f0;}
.--blue{color:#00f;}
.--blue textarea{color:#00f;}
.--black{color:#000;}
.--black textarea{color:#000;}
.--white{color:#fff;}
.--white textarea{color:#fff;}
.--yellow{color:#ff0;}
.--yellow textarea{color:#ff0;}

.--fs8{font-size: 8px;}
.--fs8 textarea{font-size: 8px !important;}
.--fs9{font-size: 9px;}
.--fs9 textarea{font-size: 9px !important;}
.--fs10{font-size: 10px;}
.--fs10 textarea{font-size: 10px !important;}
.--fs11{font-size: 11px;}
.--fs11 textarea{font-size: 11px !important;}
.--fs12{font-size: 12px;}
.--fs12 textarea{font-size: 12px !important;}
.--fs13{font-size: 13px;}
.--fs13 textarea{font-size: 13px !important;}
.--fs14{font-size: 14px;}
.--fs14 textarea{font-size: 14px !important;}
.--fs15{font-size: 15px;}
.--fs15 textarea{font-size: 15px !important;}
.--fs16{font-size: 16px;}
.--fs16 textarea{font-size: 16px !important;}
.--fs17{font-size: 17px;}
.--fs17 textarea{font-size: 17px !important;}
.--fs18{font-size: 18px;}
.--fs18 textarea{font-size: 18px !important;}
.--fs19{font-size: 19px;}
.--fs19 textarea{font-size: 19px !important;}
.--fs20{font-size: 20px;}
.--fs20 textarea{font-size: 20px !important;}
.--fs21{font-size: 21px;}
.--fs21 textarea{font-size: 21px !important;}
.--fs22{font-size: 22px;}
.--fs22 textarea{font-size: 22px !important;}

#for_delay, #for_duration{width:50px;}
#modal{width:100%;height:100%;position:fixed;left:-100%;top:0px;opacity:0;transition:0.5s;background-color:#fff;z-index:99;}
#modal.show{opacity:1;left:0px;}
#modal .close{width:50px;height:50px;background-color:#ddd;color:red;text-align:center;line-height:50px;top:10px;right:10px;border-radius:50%;cursor:pointer;position:absolute;z-index:999;}
#modal .close:before{content:"╳";}
#modal .content{width:100%;height:100%;left:0px;top:0px;position:absolute;}
